@import "tailwindcss";
@import "tw-animate-css";
p {
  padding-bottom: 1rem !important;
}
.ProseMirror {
  padding: 10px 5px !important;
}
.tiptap:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
/* Contoh CSS dasar untuk Tiptap */
.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.tiptap h1,
.tiptap h2,
.tiptap h3 {
  line-height: 1.1;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid #ddd;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat
    linear-gradient(#000 calc(50% - 10px), #0000 0 calc(50% + 10px), #000 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 20% calc(200% + 20px);
  animation: l4 1s infinite linear;
}
@keyframes l4 {
  33% {
    background-position: 0% 50%, 50% 100%, 100% 100%;
  }
  50% {
    background-position: 0% 0%, 50% 50%, 100% 100%;
  }
  66% {
    background-position: 0% 0%, 50% 0%, 100% 50%;
  }
  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
}
